@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: rustic --default, night --prefersdark;
}

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;
}

@plugin "daisyui/theme" {
  name: "rustic";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: "#ffffff";
  --color-base-200: "#EDFBFF";
  --color-base-300: "#DBF7FF";
  --color-base-400: "#C9F2FF";
  --color-base-500: "#94E6FF";
  --color-base-600: "#62DAFF";
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: "#FE6F5E"
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(95% 0.045 203.388);
  --color-secondary-content: oklch(26% 0.007 34.298);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(37% 0.034 259.733);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0 0);
  --color-warning: oklch(94% 0.129 101.54);
  --color-warning-content: oklch(37% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(27% 0.033 256.848);
  --color-bg: oklch(0.9392 0.0411 180);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "night";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: "#131313";
  --color-base-200: "#17092A";
  --color-base-300: "#260D49";
  --color-base-400: "#3A1969";
  --color-base-500: "#451785";
  --color-base-600: "#5319A5";
  --color-base-content: oklch(95% 0 0);
  --color-primary: oklch(80% 0.052 163.051);
  --color-primary-content: oklch(15% 0 0);
  --color-secondary: oklch(80% 0.045 203.388);
  --color-secondary-content: oklch(15% 0 0);
  --color-accent: oklch(85% 0.182 98.111);
  --color-accent-content: oklch(20% 0.034 259.733);
  --color-neutral: oklch(80% 0.005 285.823);
  --color-neutral-content: oklch(20% 0.004 286.32);
  --color-info: oklch(60% 0.16 232.661);
  --color-info-content: oklch(95% 0.066 243.157);
  --color-success: oklch(60% 0.219 149.579);
  --color-success-content: oklch(15% 0 0);
  --color-warning: oklch(80% 0.129 101.54);
  --color-warning-content: oklch(20% 0 0);
  --color-error: oklch(60% 0.191 22.216);
  --color-bg: oklch(0.2093 0.0489 314.19);
  --color-error-content: oklch(95% 0.033 256.848);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --animate-clockwise: clockwise 12s ease-in-out infinite;

  @keyframes clockwise {
    0% {
      background-position: 50% 0%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 50% 100%;
    }
    75% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
