@import "tailwindcss" source("..");

@plugin "daisyui";

@theme {
  --animate-clockwise: clockwise 12s ease-in-out infinite;

  @keyframes clockwise {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
  }
}
