
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "rustic";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(95% 0.052 163.051);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(95% 0.045 203.388);
  --color-secondary-content: oklch(26% 0.007 34.298);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(37% 0.034 259.733);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0 0);
  --color-warning: oklch(94% 0.129 101.54);
  --color-warning-content: oklch(37% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(27% 0.033 256.848);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "night";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(10% 0.005 280);
  --color-base-200: oklch(15% 0.05 300);
  --color-base-300: oklch(20% 0.07 310);
  --color-base-content: oklch(95% 0 0);
  --color-primary: oklch(80% 0.052 163.051);
  --color-primary-content: oklch(15% 0 0);
  --color-secondary: oklch(80% 0.045 203.388);
  --color-secondary-content: oklch(15% 0 0);
  --color-accent: oklch(85% 0.182 98.111);
  --color-accent-content: oklch(20% 0.034 259.733);
  --color-neutral: oklch(80% 0.005 285.823);
  --color-neutral-content: oklch(20% 0.004 286.32);
  --color-info: oklch(60% 0.16 232.661);
  --color-info-content: oklch(95% 0.066 243.157);
  --color-success: oklch(60% 0.219 149.579);
  --color-success-content: oklch(15% 0 0);
  --color-warning: oklch(80% 0.129 101.54);
  --color-warning-content: oklch(20% 0 0);
  --color-error: oklch(60% 0.191 22.216);
  --color-error-content: oklch(95% 0.033 256.848);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --animate-clockwise: clockwise 6s ease-in-out infinite;

  @keyframes clockwise {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
  }
}

